version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: finance-sql-server
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=StrongPassword123!
    ports:
      - "1434:1433"
    volumes:
      - sqlvolume:/var/opt/mssql
    restart: always

volumes:
  sqlvolume:
